*{ 
    margin : 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( #183952, #d8c891);
    padding: 10px;
}
.todoapp{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 50px 40px 70px;
    border-radius: 25px;

}
.todoapp h2{
    color : #605633;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todoapp img{
    width: 50px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(166, 165, 165, 0.619);
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-weight: 15px;
    font-size: 15px;
}
button{
    cursor : pointer; 
}
.add{
    border: none;
    outline: none;
    padding: 15px 40px;
    border-radius: 40px;
    color: #fff;
    background-color: #1f6a96;
    font-size: 15px;
    font-weight: bold;
    transition: box-shadow 0.3s, color 0.3s;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

   
}
    .add:hover{
        box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
        color : #3f3921;
        background-color: #cabb89 ;
        transition: background-color 0.15s;
        }
    .add:active{
        transition:opacity 0.5;
    }
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: ' ';
    position: absolute;
    height:28px;
    width: 28px;
    border-radius: 50px;
    background-image:url(circle.png);
    background-size: cover;
    background-position: center;
    top:8px;
    left: 12px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url(checked\ red.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align:center;
    border-radius: 50px;
}
ul li span:hover{
    background-color: #828282;
    transition: background-color 0.15s;
}